<template name="contribute_modal">
    {{#each project.rewards}}
    {{#if (name)}}
        <div id="contribute{{id}}" class="modal">
            <div class="modal-content container">
                <form class="container">
                    <div class="row">
                        <div class="col m12 s12 l12 input-field">
                            GHC <input class="validate" id="pledge_amount" type="number" min="{{minimum_pledge_amount}}" name="pledge_amount" value="{{minimum_pledge_amount}}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12 s12 l12 input-field c_button" id="contribute_button">
                            <input class="btn green white-text" type="submit" value="Contribute" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}
    {{/each}}
</template>