<template name="project">
    <input id="pid" type="hidden" value="{{_id}}" />
    <nav>
        <div class="nav-wrapper blue">
            <!--<a href="#" class="brand-logo">Logo</a>-->
            <a href="#" data-activates="mobile-demo" class="button-collapse" style="padding-top: 10px; margin-left: 10px;"><img style="width:30px; height: auto;" src="../ic_menu_white_24dp.png"/></a>
            <ul class="side-nav" id="mobile-demo">
                <a href="../home">Home</a>
                <a href="../new">Start a project</a>
                <a href="../discover">Discover projects</a>
                <li style="cursor: pointer;">{{> logout}}</li>
            </ul>
            <ul class="right" style="padding-top: 2px;">
                <li><a href="#">{{currentUser.username}}</a></li>
                <li style="cursor: pointer; padding-right: 10px;">{{> logout}}</li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li style="margin-left:10px;"><a href="../home">Home</a></li>
                <li style="margin-left:10px;">&middot;</li>
                <li style="margin-left:10px;"><a href="../new">Start a project</a></li>
                <li style="margin-left:10px;">&middot;</li>
                <li style="margin-left:10px;"><a href="../discover">Discover projects</a></li>
                <li></li>
            </ul>
        </div>
    </nav>
    <script>
        $(".button-collapse").sideNav();
    </script>
    <div class="row">
        <div class="col s12 m5 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{project.image_url}}">
                    <span class="card-title">{{project.basic_details.name}}</span>
                </div>
                <div class="card-content">
                    <b>Project Description</b>
                    <p>{{project.basic_details.short_description}}</p><br/><br/>
                    <b>Project Purpose</b>
                    <p>{{project.story.long_description}}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <h4 style="color:#cccccc;">Goal: GHC {{funding_goal project.basic_details.funding_goal}}</h4>
            <h5 style="color:#cccccc;">Raised: GHC {{total_pledged project.status.total_pledged}}</h5>
            <h5 style="color:#cccccc;">Progress: <div class="progress">
                                          <div class="determinate" style="width: {{progress _id}}%"></div>
                                      </div>
                                      <span class="green-text">{{progress _id}}%</span></h5>
            <h5 style="color:#cccccc;">Ends: {{funding_deadline project.basic_details.funding_deadline}}</h5>
            <hr>
            <h5 style="color:#aaaaaa;">Project Owner Info</h5>
            <h6 style="color:#aaaaaa;">Name: {{owner _id}}</h6>
            <h6 style="color:#aaaaaa;">Username: {{owner_username _id}}</h6>
            <h6 style="color:#aaaaaa;">Bio: {{owner_bio _id}}</h6>
            <h6 style="color:#aaaaaa;">Location: {{owner_location _id}}</h6>
            <h6 style="color:#aaaaaa;">Email: {{owner_email _id}}</h6>
        </div>
        <div class="col s12 m3 l4">
            <h4 style="color:#cccccc;">Perks</h4>
            {{#each project.rewards}}
            {{#if (name)}}
                <div class="card">
                    <div class="card-content blue white-text">
                        <b>Perk Name<span class="right">> GHC {{minimum_pledge minimum_pledge_amount}}</span></b>
                        <p>{{name}}</p><br/>
                        <b>Description</b>
                        <p>{{description}}</p>
                        <a class="btn green modal-trigger" href="#contribute{{id}}">Contribute</a>
                        <br/><br/>
                    </div>
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{> contribute_modal}}
    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal({opacity:0.01});
          });
    </script>
    <script>
        if (!Meteor.userId()) {
            Router.go('/');
        }
    </script>
</template>