<template name="index">
    <style>
    body {
        background: url(789.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    </style>
    <div>
        <div class="row">
            <div style="bottom:20px; position: fixed;" class="col s5 m4 l2 offset-s6 offset-m6 offset-l6">
                {{> login}}
            </div>
            <div style="bottom:20px; position: fixed;"  class="col s5 m4 l2 offset-s1 offset-m2 offset-l4">
                {{> register}}
            </div>
        </div>
    </div>
    {{> login_modal}}
    {{> register_modal}}
    <script>
        $(document).ready(function() {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal({opacity: 0.01});
        });
    </script>
    <script>
        if (Meteor.userId()) {
            Router.go('/home');
        }
    </script>
</template>
