<template name="register_modal">
    <!-- Modal Structure -->
    <div id="register" class="modal">
        <div class="modal-content">
            <form class="container" method="post" id="registrationForm">
                <div class="row">
                    <div class="col m12 s12 l12 input-field">
                        <input class="validate" id="registerUsername" type="text" name="registerUsername" />
                        <label for="registerUsername">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12 input-field">
                        <input class="validate" id="registerEmail" type="email" name="registerEmail" />
                        <label for="registerEmail">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12 input-field">
                        <input class="validate" id="registerPassword" type="password" name="registerPassword" />
                        <label for="registerPassword">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12">
                        <div id="registerErrorMessage" class="red-text"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12 input-field"  id="registerButton" >
                        <input class="btn btn-block blue white-text" type="submit" value="Register"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>