<template name="transaction">
    <script>
        $(".button-collapse").sideNav();
    </script>
    {{#if results}}
    <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="789.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4" style="font-size: 50px;">Thank You, We'll be in touch!</span>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <div class="progress">
        <div class="indeterminate"></div>
        <p>Processing Contribution</p>
    </div>
    {{/if}}
</template>