<template name="new_project">
    <nav>
        <div class="nav-wrapper blue">
            <!--<a href="#" class="brand-logo">Logo</a>-->
            <a href="#" data-activates="mobile-demo" class="button-collapse" style="padding-top: 10px; margin-left: 10px;"><img style="width:30px; height: auto;" src="ic_menu_white_24dp.png"/></a>
            <ul class="side-nav" id="mobile-demo">
                <a href="home" onclick="Router.go('home')">Home</a>
                <a href="new">Start a project</a>
                <a href="discover">Discover projects</a>
                <li style="cursor: pointer;">{{> logout}}</li>
            </ul>
            <ul class="right" style="padding-top: 2px;">
                <li><a href="#">{{currentUser.username}}</a></li>
                <li style="cursor: pointer; padding-right: 10px;">{{> logout}}</li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li style="margin-left:10px;"><a href="home">Home</a></li>
                <li style="margin-left:10px;">&middot;</li>
                <li style="margin-left:10px;"><a href="new">Start a project</a></li>
                <li style="margin-left:10px;">&middot;</li>
                <li style="margin-left:10px;"><a href="discover">Discover projects</a></li>
                <li></li>
            </ul>
        </div>
    </nav>
    <script>
        $(".button-collapse").sideNav();
    </script>
    <div class="container">
    <!-- Page Content goes here -->
        <div class="section row">
            <div class="col s12">
                <h1>Start a new project!</h1>
                <h4 id="step_info">Give it a name...</h4>
                <form>
                    <div class="input-field col s12" id="info_collector">
                        <input id="project_name" type="text" class="validate" length="30" required>
                        <label for="project_name">Project name</label>
                    </div>
                    {{#if step_2}}
                    {{> upload_bootstrap }}<br/><br/>
                    {{/if}}
                    <div id="next_btn">
                        <a class="waves-effect waves-light btn blue col" id="step1">Continue</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="section row">
            <div class="col s12" id="misc">
            </div>
        </div>
    </div>
    <script>
        if (!Meteor.userId()) {
            Router.go('/');
        }
    </script>
</template>