<template name="login_modal">
    <!-- Modal Structure -->
    <div id="login" class="modal">
        <div class="modal-content container">
            <form class="container">
                <div class="row">
                    <div class="col m12 s12 l12 input-field">
                        <input class="validate" id="loginUsernameOrEmail" type="text" name="loginUsernameOrEmail" />
                        <label for="loginUsernameOrEmail">Username/Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12 input-field">
                        <input class="validate" id="loginPassword" type="password" name="loginPassword" />
                        <label for="loginPassword">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12 ">
                        <div id="loginErrorMessage" class="red-text"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 s12 l12 input-field" id="loginButton">
                        <input class="btn green white-text" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>