<template name="login">
    <!-- Modal Trigger -->
    <a class="btn btn-large btn-block modal-trigger green white-text" href="#login">Login</a>
    <!--<a class="btn btn-large btn-block modal-trigger green white-text" href="https://google.com:443" target="_system">Login</a>-->
</template>