<template name="home">
    <nav>
        <div class="nav-wrapper blue">
            <!--<a href="#" class="brand-logo">Logo</a>-->
            <a href="#" data-activates="mobile-demo" class="button-collapse" style="padding-top: 10px; margin-left: 10px;"><img style="width:30px; height: auto;" src="ic_menu_white_24dp.png"/></a>
            <ul class="side-nav" id="mobile-demo">
                <a href="home" onclick="Router.go('home')">Home</a>
                <a href="new">Start a project</a>
                <a href="discover">Discover projects</a>
                <li style="cursor: pointer;">{{> logout}}</li>
            </ul>
            <ul class="right" style="padding-top: 2px;">
                <li><a href="#">{{currentUser.username}}</a></li>
                <li style="cursor: pointer; padding-right: 10px;">{{> logout}}</li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li style="margin-left:10px;"><a href="home">Home</a></li>
                <li style="margin-left:10px;">&middot;</li>
                <li style="margin-left:10px;"><a href="new">Start a project</a></li>
                <li style="margin-left:10px;">&middot;</li>
                <li style="margin-left:10px;"><a href="discover">Discover projects</a></li>
                <li></li>
            </ul>
        </div>
    </nav>
    <script>
        $(".button-collapse").sideNav();
    </script>

    <div class="row">
        {{#each projects}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block" style="height: 200px;">
                    <img class="activator" src="{{project.image_url}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 truncate">{{project.basic_details.name}}<img class="activator right" style="width:30px; height: auto;" src="ic_menu_black_24dp.png"/></span>
                    <p><a href="#">Goal: GHC {{funding_goal project.basic_details.funding_goal}}</a></p>
                </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{project.basic_details.name}}<i class="material-icons right">close</i></span>
                    <p>{{project.basic_details.short_description}}</p>
                    <p><a href="#">Goal: GHC {{funding_goal project.basic_details.funding_goal}}</a></p>
                    <p><a href="#">Pledged: GHC {{total_pledged project.status.total_pledged}}</a></p>
                    <p><a href="#">Funding Ends: {{funding_deadline project.basic_details.funding_deadline}}</a></p>
                    <a class="btn green" href="project/{{_id}}">View More Details</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
    <script>
        if (!Meteor.userId()) {
            Router.go('/');
        }
    </script>
</template>